/* StandardBS Core CSS
------------------*/

#dock li{
    list-style: none outside none;
}

.headermain {
    display:inline;
    float:left;
    margin-left:250px;
    margin-top:12px;
}
.headermenu {
    display:inline;
    float:right;
    padding-right:15px;
}
.brand {
    background: transparent url([[setting:logo]]) no-repeat 15px top;
    min-height:75px;
    padding-left:15px;
}
